<section *ngIf="email">
    <div class="sender">
        <h3>Sender: {{email.email}}</h3>
    </div>
    <div class="message">
        <p>
            {{email.message}}
        </p>
    </div>
    <div class="message" *ngIf="email.response">
        <p>
            {{email.response}}
        </p>
    </div>
    <div class="reply" *ngIf="!email.response">
        <textarea [formControl]="message" name="message" rows="10"></textarea>
        <button (click)="!loading&&submit()">Submit</button>
    </div>  
</section>
<h1>{{error}}</h1>
