@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    min-width: 300px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: unset;
    color: unset;
}